.Input {
	background: #FFF;
	border: 0;
	border-radius: 3px;
	box-shadow: 0 0 0 1px #C7CBCE inset;
	box-sizing: border-box;
	height: 25px;
	padding: 5px;
	transition: box-shadow .2s;
	vertical-align: middle;
}

.Input,
.Input:hover,
.Input:active {
	outline: 0;
}

.Input_hover {
	box-shadow: 0 0 0 1px #999EA2 inset;
}

.Input_focus {
	box-shadow: 0 0 0 2px #2789DE inset;
}

.Input_active {
	box-shadow: 0 0 0 2px #C2C6C7 inset;
}

.Input[type=search] {
	appearance: none;
	border-radius: 13px;
	padding-left: 13px;
}

.Input[type=range] {
  appearance: none;
  background-color: #C7CBCE;
  height: 6px;
  padding: 0;
	margin: 10px 3px;
	box-shadow: none;
	vertical-align: top;
}

.Input[type=range]::-webkit-slider-thumb {
  appearance: none;
  background: #FFF;
  border-radius: 10px;
  width: 20px;
  height: 20px;
	padding: 0;
  margin: 0;
  box-shadow: 0 0 0 1px #C7CBCE inset;
	transition: box-shadow .2s;
}

.Input_hover[type=range]::-webkit-slider-thumb {
  box-shadow: 0 0 0 1px #999EA2 inset;
}

.Input_active[type=range]::-webkit-slider-thumb {
  box-shadow: 0 0 0 2.5px #999EA2 inset;
}

.Input_focus[type=range]::-webkit-slider-thumb {
  box-shadow: 0 0 0 2px #2084D2 inset;
}

.Input[type=radio],
.Input[type=checkbox] {
	appearance: none;
	width: 20px;
	height: 20px;
}

.Input[type=radio] {
	border-radius: 10px;
}

.Input_checked[type=radio] {
	box-shadow: 0 0 0 6px #2789DE inset;
}

.Input_checked[type=radio].Input_active {
	box-shadow: 0 0 0 5px #2789DE inset;
}

.Input[type=checkbox] {
	transition: box-shadow .2s, background-color .3s;
}

.Input[type=checkbox]:after {
	content: '';
	display: block;
	width: 3px;
	height: 7px;
	border: 2px solid #FFF;
	border-left: 0;
	border-top: 0;
	opacity: 0;
	margin-left: 2px;
	transform: rotate(40deg);
	transition: opacity .2s;
}

.Input_checked[type=checkbox] {
	box-shadow: 0 0 0 6px #2789DE inset;
	background-color: #2789DE;
}

.Input_checked[type=checkbox].Input_active {
	background-color: #248FEA;
	box-shadow: 0 0 0 3px #2789DE inset;
	transition: box-shadow .1s;
}

.Input_checked[type=checkbox].Input_focus,
.Input_checked[type=radio].Input_focus {
	box-shadow: 0 0 0 6px #2789DE inset, 0 0 5px 0px #2789DE;
}

.Input_checked[type=checkbox].Input_focus.Input_active {
	box-shadow: 0 0 0 3px #2789DE inset, 0 0 5px 0px #2789DE;
}
.Input_checked[type=radio].Input_focus.Input_active {
	box-shadow: 0 0 0 5px #2789DE inset, 0 0 5px 0px #2789DE;
}

.Input_checked[type=checkbox]:after {
	opacity: 1;
}

.Toggle,
.ToggleSlider {
	display: inline-block;
}

.Toggle {
	width: 36px;
	height: 20px;
	margin: 3px;
	vertical-align: middle;
}

.ToggleSlider {
	position: absolute;
	pointer-events: none;
	transition: width .2s;
	width: 20px;
}

.ToggleInput.Input {
  position: absolute;
  width: 36px;
  height: 20px;
	margin: 0;
	border-radius: 10px;
	background-color: #C7CBCE;
	box-shadow: 0 0 0 1px #C7CBCE inset;
	transition: box-shadow .2s, background-color .35s;
}

.ToggleInput.Input_checked,
.ToggleInput.Input_checked.Input_active {
	box-shadow: 0 0 0 6px #248FEA inset;
	background-color: #248FEA;
}

.ToggleInput:after {
	display: none !important;
}

.ToggleSlider:before {
	content: '';
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: #FFF;
	box-shadow: 0 0 0 1px #C7CBCE inset;
	transition: box-shadow .2s, width .2s;
}

.ToggleInput.Input_hover + .ToggleSlider {
	width: 22px;
}
.ToggleInput.Input_hover + .ToggleSlider:before {
	width: 22px;
	box-shadow: 0 0 0 1px #999EA2 inset;
}

.ToggleInput.Input_checked + .ToggleSlider {
	width: 36px;
}

.ToggleInput.Input_checked + .ToggleSlider:before {
	box-shadow: 0 0 0 1px #2084D2 inset;
}

.ToggleInput.Input_active + .ToggleSlider:before {
	box-shadow: 0 0 0 2.5px #999EA2 inset;
}

.ToggleInput.Input_checked.Input_active + .ToggleSlider:before {
	box-shadow: 0 0 0 2.5px #2084D2 inset;
}

.ToggleInput.Input_focus + .ToggleSlider:before {
	box-shadow: 0 0 0 2px #2084D2 inset;
}

